<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>com.lmax.streaming.DispatchServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/dispatch</url-pattern>
    </servlet-mapping>

</web-app>
